[
    {kernel, [
        {logger_level, info},
        {logger, [

            % console backend

            {handler, default, logger_std_h, #{
                formatter => {
                    logger_formatter, #{
                        single_line => true,
                        template => ["[", time,"] ", level, " ", pid, " ", mfa,":",line, " => ", msg,"\n"],
                        time_offset => "Z"
                    }
                },

                config => #{
                    sync_mode_qlen => 10000,
                    drop_mode_qlen => 10000,
                    flush_qlen     => 10000
                },

                filters => [
                    {remote_group_leader, {fun logger_filters:remote_gl/2, stop}},
                    {progress, {fun logger_filters:progress/2, stop}},
                    {sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}}
                ]
            }},

            % file backend
            % https://www.erlang.org/doc/apps/kernel/logger_chapter.html#protecting-the-handler-from-overload

            {handler, file_backend, logger_std_h, #{
                level => info,
                config => #{
                    type => {file, "log/log.txt"},
                    max_no_bytes => 10485760,
                    max_no_files => 5,
                    compress_on_rotate => true,
                    file_check => 3000,

                    overload_kill_enable => true,
                    sync_mode_qlen => 10000,
                    drop_mode_qlen => 10000,
                    flush_qlen     => 10000
                },
                formatter => {
                    logger_formatter, #{
                        single_line => true,
                        template => ["[", time,"] ", level, " ", pid, " ", mfa,":",line, " => ", msg,"\n"],
                        time_offset => "Z"
                    }
                },
                filters => [
                    {remote_group_leader, {fun logger_filters:remote_gl/2, stop}},
                    {progress, {fun logger_filters:progress/2, stop}},
                    {sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}}
                ]
            }}
        ]}
    ]},
    {esmpplib, [
        % used only in CT tests
        {ct_tests, [
            {query_sm_supported, false},
            {src_number, <<"INFOSMS">>},
            {dst_number, <<"123456789">>}
        ]},

        {pools, [
            {ct_pool, [
                {size, 1},
                {active, true},
                {connection_options, [
                    {host, "smscsim.smpp.org"},
                    {port, 2775},
                    {transport, tcp},
                    {interface_version, <<"5.0">>},
                    {system_id, <<"2T1">>},
                    {password, <<"85605E0E">>},
                    {callback_module, integrity_test_SUITE}
                ]}
            ]}
        ]}

    ]}
].
